*,
*::before,
*::after {
    box-sizing: border-box;
}

ul * {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html,
body {
    height: 100%;
}

 
.is-navOpen{
  overflow: hidden;
}



h1 {
    font-weight: normal;
    font-size: 50px;
}

nav.nav {
    color: #fff;
}
